<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        <!-- span.cls_002 {
            font-family: Arial, serif;
            font-size: 60px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_002 {
            font-family: Arial, serif;
            font-size: 60px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            text-align:center;
        }

        span.cls_003 {
            font-family: Arial, serif;
            font-size: 13.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: Arial, serif;
            font-size: 13.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_004 {
            font-family: Arial, serif;
            font-size: 26.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_004 {
            font-family: Arial, serif;
            font-size: 26.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_005 {
            font-family: Arial, serif;
            font-size: 17.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_005 {
            font-family: Arial, serif;
            font-size: 17.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Arial, serif;
            font-size: 10.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Arial, serif;
            font-size: 10.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Arial, serif;
            font-size: 25px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Arial, serif;
            font-size: 25px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_008 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(59, 179, 112);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_008 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(59, 179, 112);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        .spacer {
            flex: 1 1 auto;
        }

        span.cls_009 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(0, 135, 204);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(0, 135, 204);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(255, 98, 70);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(255, 98, 70);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_011 {
            font-family: Arial, serif;
            font-size: 25px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_011 {
            font-family: Arial, serif;
            font-size: 25px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none;
            display: inline;
        }

        -->
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="c4d4ac36-3364-11ea-a5fd-0cc47a792c0a_id_c4d4ac36-3364-11ea-a5fd-0cc47a792c0a_files/wz_jsgraphics.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([

                {{#FirstGraph}}
            ['Security Practice', 'score'],
                ['Strategy and Metrics', {{governance_strategy}}],
            ['Education and Guidance', {{governance_education}}],
            ['Policy and Compliance', 2{{governance_policy}}],
            ['Threat Assessment', {{design_threat}}5],
            ['Security Requirements', {{design_security}}],
            ['Secure Architecture', {{design_secure_arch}}5],
            ['Secure build', {{implement_secure_build}}],
            ['Secure Deployment', {{implement_secure_deploy}}],
            ['Defect Management', {{implement_defect}}],
            ['Architecture Assessment', {{verify_arch}}],
            ['Requirements based testing', {{verify_requirement}}],
            ['Security Testing', {{verify_security}}],
            ['Incident management', {{operate_incident}}],
            ['Environment Hardening', {{operate_environment}}],
            ['Operational Enablement', {{operate_operational}}]
            {{/FirstGraph}}
            ]);

            var options = {
                title: 'Overall',
                width: 1500,
                height: 1000,
                curveType: 'function',
                legend: { position: 'top' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
    <!--GOOGLE BAR CHART-->
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                {{#SecondGraph}}
                ["Implementation Status", "Score", { role: "style" }],
                ["1 : {{Total1}}", {{Total1}}, "#1BAE2A"],
                ["0.50 : {{Total50}}", {{Total50}}, "305BD0"],
                ["0.25 : {{Total25}}", {{Total25}}, "FF6701"],
                ["0 : {{Total0}}", {{Total0}}, "Red"]]);
                {{/SecondGraph}}
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);

            var options = {
                title: "Implementation Status",
                width: 1500,
                height: 800,
                bar: { groupWidth: "70%" },
                legend: { position: "none" },
            };
            var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
            chart.draw(view, options);
        }
    </script>
</head>

<body>
<div style="height: 150vh;">
    
    <div style="position:absolute;left:650.02px;top:700.99px;font-size:60px;" class="cls_002">
        <span class="cls_002">SAMM</span>
    </div>
    <div style="position:absolute;left:550.02px;top:800.99px;font-size:60px;" class="cls_002">
            <span class="cls_002">Scoring Report
            </span>
    </div>
</div>
<br>
<br>
</div>
<div id="curve_chart" style=""></div>
<span>
        <div id="barchart_values" style="margin-bottom:10vh;"></div>
        <br>
        <span class="">
            <h1>Overall Report</h1>
        </span>
        <br>
        <div style="width:90%;margin: auto;">
            <hr>
        </div>
        <div style="width: 1366px;">
            {{#each comments}}
            <div class="" style="padding: 3vw; margin-left:10vw; margin-right:10vw;">
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div style="background-color:#cccccc;display: inline-block">
                                        <span class="cls_011">ID:{{qoid}}</span>
                                        <span class="cls_007">{{qname}}</span>
                                    </div>

                                    <span class="cls_011" style="margin-left: 43vw;">Score:</span>
                                    <span class="cls_007" style="margin-left:0.2vw;">{{score}}</span>



                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="cls_011">
                            <span class="cls_011">Question:</span>
                            <span class="cls_007">{{question}}</span>
                        </div>
                        <br>
                        <br></br>
                        <div class="cls_011">
                            <span class="cls_011">Answer:</span>
                            <span class="cls_007">{{answer}}</span>
                        </div>
                        <br>
                        <br></br>
                        <div class="cls_011">
                            <div>
                                <span class="cls_011">Group Name:</span>
                                <span class="cls_007"> {{groupname}}</span>


                                <span class="cls_011" style="margin-left: 27vw;;">Security Practice:
                                </span>
                                <span class="cls_007" style="margin-left:0.2vw;">
                                    {{secpractice}}</span>


                            </div>
                        </div>
                        <br>
                        <div>
                            <div>
                                <span class="cls_011">User:</span>
                                <span class="cls_007">{{commentor}}</span>

                                <span class="cls_011" style="margin-left:45vw;">Date:</span>
                                <span class="cls_007" style="margin-left:0.2vw;">{{created}}</span>


                            </div>
                        </div>
                        <br>
                        <div>
                            <div>
                                <span class="cls_011">Comment:</span>
                                <span class="cls_007">{{comment}}</span>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div style="width:90%;margin: auto;">
            <hr>
        </div>
        {{/each}}
    </div>
    </div>
</body>

</html>
